body
{
	background: green;
}

#plataforma
{
	margin-top: 5px;
	position: relative;
	background-image: url(plataforma.png);
	background-size:  800px 800px;
	background-repeat: no-repeat;
	width: 800px;
	height: 800px;
}
#spritefred, #spritefred2
{
width: 100px;
height: 100px;
background-image: url(csg-533cbf6cc34e0.png);
position: absolute;
left: 30px
top: 5px
}
.spritefred
{
background: url(csg-533cbf6cc34e0.png) no-repeat top left;
}
.below1{ background-position: 0 0; width: 51px; height: 72px; } 
.below2{ background-position: 0 -122px; width: 51px; height: 72px; } 
.right1{ background-position: 0 -244px; width: 51px; height: 72px; } 
.right2{ background-position: 0 -366px; width: 51px; height: 72px; } 
